.title{
  align-items: center;
  background-color: beige;
  padding-left: 678px;
  font-size: xx-large;
  padding-right: 695px;
}

.input-box{
  padding-right: 50px;
  background-color: lemonchiffon;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.user-input{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  }

  .list{
    background-color: antiquewhite;
    border-width: 10px;
    text-size-adjust: auto;
    width: 150px;
  }

  .delete{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: crimson;
  }

