.title{
  align-items: center;
  background-color: beige;
  padding-left: 678px;
  font-size: xx-large;
  padding-right: 695px;
}

.input-box{
  padding-right: 50px;
  background-color: lemonchiffon;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.user-input{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  }

  .list{
    background-color: antiquewhite;
    border-width: 10px;
    text-size-adjust: auto;
    width: 150px;
  }

  .delete-icon{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: crimson;
  }

  .lists{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }

  .updates{
    display: flex;
   justify-content: space-around;
   align-items: flex-start;
   margin-top: 20px;
    
  }

  .update{
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 30px;
    padding-right: 30px;
  }

  .update1{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    width: 31%;
    height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .update2{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 10px;
    width: 31%;
    height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

